body {
    background: linear-gradient(180deg, #f4f8b3, #ffa9a9);
    height: 100vh; /* vh is viewport height. 100 is full screen view */
    
}

h1 {
    text-align: center;
    font-size: 65px;
    text-decoration: underline;
}

.dish {
    margin:auto;
    width: min(70%, 500px);
    font-size: 45px;
}

/* removes underline and blue text color from links */
a {
    color: black;
    text-decoration: none;
}

